.header {
  margin-bottom: 30px;
  display: flex;
  align-items: baseline;
  padding: 5px 10px;
  background: #98d0ec;
  -webkit-box-shadow: 10px 11px 12px -9px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 10px 11px 12px -9px rgba(0, 0, 0, 0.74);
  box-shadow: 10px 11px 12px -9px rgba(0, 0, 0, 0.74);
}

.logged_text {
  font-size: 15px;
  margin: 0;
  margin-right: 10px;
}

.logged_box {
  display: flex;
  justify-content: center;
  margin-left: auto;
}
.register_box {
  margin-left: auto;
  display: flex;
  gap: 20px;
}
.user_box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user_img {
  display: block;
  margin-right: 10px;
}

.active_link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(49, 104, 191);
  text-decoration: none;
  padding: 10px;
  width: 80px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.link_nav {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(127, 162, 219);
  text-decoration: none;
  padding: 10px;
  width: 80px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.home_wrapper {
  display: flex;
  gap: 20px;
}
